<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script defer src="component/common/common.js"></script>
    <!-- <script defer src="component/delay/delay2.js"></script> -->
    <!-- <script defer src="component/async/concurrency1.js"></script> -->
    <!-- <script defer src="component/async/concurrency2.js"></script> -->
    <script defer src="component/async/concurrency3.js"></script>
    <title>Space</title>
</head>
<body>    
    <div class="main">
        <h2>재밌는 서비스</h2>
        <div class="container">
            <button onclick="location.href='page/cart/index.html'">장바구니</button>
            <div></div>
            <button onclick="location.href='page/snow/index.html'">크리스마스</button>
        </div>
    </div>
</body>
</html>
